<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Temperature Log</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="log-content ion-padding">
  <ion-item>
    <ion-label>Pick a Date</ion-label>
    <ion-datetime
      display-format="MMM DD, YYYY"
      picker-format="MMM DD, YYYY"
      presentation="date"
      [(ngModel)]="selectedDate"
      (ionChange)="filterLogsByDate()"
      max="{{ maxDate }}"
      cancel-text="Cancel"
      done-text="Done"
      placeholder="Select date"
    ></ion-datetime>
  </ion-item>


  <div *ngIf="filteredLogs.length === 0" class="no-logs-message ion-text-center ion-padding">
    No logs found for selected date.
  </div>

  <div *ngFor="let day of filteredLogs">
    <h2>{{ day.date }}</h2>

    <div class="daily-actions ion-padding-horizontal ion-padding-bottom">
       <ion-button expand="block" (click)="exportToPDF(day.date)">
          Export to PDF
       </ion-button>
       <ion-button expand="block" color="danger" (click)="deleteAllLogsForDate(day.date)">
          Delete All Logs
       </ion-button>
    </div>

    <ion-list>
      <ion-item *ngFor="let log of day.logs">
        <ion-label>
          <h2>{{ log.fridgeName }}</h2>
          <p>Temperature: {{ log.temperature }} °C</p>
          <p>Logged at: {{ log.timestamp | date:'medium' }}</p>
        </ion-label>
        <ion-button slot="end" color="danger" (click)="log.id && deleteLogEntry(log.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
